/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(230, 75%, 56%);
  --title-color: hsl(230, 75%, 15%);
  --text-color: hsl(230, 12%, 40%);
  --body-color: hsl(230, 100%, 98%);
  --container-color: hsl(230, 100%, 97%);
  --border-color: hsl(230, 25%, 80%);
  --body-font: "Allerta", sans-serif;


  /*========== Font and typography ==========*/


 


  /*.5rem = 8px | 1rem = 16px ...*/
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-fixed: 100;
  --z-modal: 1000;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1023px) {
  :root {
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-image: linear-gradient(to bottom, #01204C,#01204C, #024BB2, #579DFF);
  color: var(--text-color);
  overflow-x: hidden; /* Evita el desbordamiento horizontal en todo el body */

}

input,
button {
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.main {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}


.main_content {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: space-around; /* Distribuye los elementos con espacio alrededor */
  align-items: center; /* Alinea los elementos verticalmente al centro */
  color: #fff;
}


.main_texto1{
  font-size: 70px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 2;


}
.main_texto2 {
  font-size: 60px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 2; /* Asegura que este valor sea mayor que el z-index del círculo */
}

.main_texto3{
  font-size: 40px;
  margin-left: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 2;


}

/* Estilos base del botón */
.boton {
  background-color: white;
  color: rgb(0, 0, 0);
  border: 2px solid rgb(255, 255, 255);
  padding: 30px 100px; /* Ajustar el padding para que el botón sea más pequeño */
  font-size: 20px;
  z-index: 2;

  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
  margin-top: 40px;
}

/* Cambios para pantallas con ancho máximo de 1023px */
@media screen and (max-width: 1023px) {
  .boton {
    width: 200px; /* Ancho reducido del botón */
    height: 60px; /* Altura del botón */
    padding: 10px; /* Ajustar el padding para que el botón sea más pequeño */
    font-size: 16px; /* Reducir el tamaño de fuente para que sea proporcional */
    margin-top: 20px; /* Ajustar margen superior para mantener consistencia */
  }
  .izquierda{
    margin-left: 30px;
    margin-right: 20px;
  }
  .main_texto1{
    font-size: 35px;
  }
  .main_texto2{
    font-size: 30px;

  }
  
  .main_texto3{
    font-size: 20px;
    margin-left: 2px;
  
  }

  .botonabajo {
    position: absolute;
    top:82% !important;
    right: 9% !important;
    width: 55px !important;
    height: 55px !important;

  }
  
  .botonabajo:hover {
    position: absolute;
    top:82% !important;
    right: 9% !important;
    width: 50px !important;
    height: 50px !important;

  }
  
}

.boton:hover{
  background-color: rgba(0, 0, 0, 0);
  color: rgb(0, 0, 0);
  border: 2px solid rgba(255, 255, 255, 0);
}

.spacer {
  height: 50px; /* Altura del rectángulo blanco */
  background-color: rgb(175, 175, 175);
}


.botonabajo {
  position: absolute;
  top:82%;
  right: 47%;

  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.57);
  border: 0px solid rgb(219, 219, 219);
  font-size: 30px; /* Tamaño del ícono */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
}

.botonabajo:hover {
  position: absolute;
  top:82%;
  right: 47.2%;
  width: 70px;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.495);
  color: rgba(0, 0, 0, 0.57);
}

.main__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

.main__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

.search,
.login {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: var(--z-modal);
  background-color: hsla(230, 75%, 15%, .1);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px); /* For safari */
  padding: 8rem 1.5rem 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity .4s;
}

.search__close,
.login__close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}




/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--body-color);
  box-shadow: 0 2px 16px hsla(230, 75%, 32%, .15);
  z-index: var(--z-fixed);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color .4s;
}

.nav__actions {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.nav__search, 
.nav__login, 
.nav__toggle, 
.nav__close {
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
  transition: color .4s;
}

:is(.nav__logo, .nav__search, .nav__login, .nav__toggle, .nav__link):hover {
  color: var(--first-color);
}

/* Navigation for mobile devices */
@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: var(--body-color);
    box-shadow: 0 8px 16px hsla(230, 75%, 32%, .15);
    width: 100%;
    padding-block: 4.5rem 4rem;
    transition: top .4s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  text-align: center;
}

.nav__link {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color .4s;
}

.nav__close {
  position: absolute;
  top: 1.15rem;
  right: 1.5rem;
}





/* Show menu */
.show-menu {
  top: 0;
}




.nav__item {
  display: inline-block;
  margin-right: 10px;
  position: relative; /* Para posicionar el cuadrado gris */
  padding-bottom: 20px;
  padding-top: 22px;
  transition: 1;

}
.nav__item {
  display: inline-block;
  position: relative;
  transition: background-color 0.3s ease; /* Transición para background-color */
}

.nav__item:hover {
  
  background-color: #a8a8a800; /* Color de fondo al hacer hover */
}

.nav__item:hover a{
  color: #000;
}
.nav__link {
  text-decoration: none;
  color: #505050; /* Color del texto del enlace */
  padding: 5px 10px;
  display: block;
}

/* Estilos para el cuadrado gris en hover */
.nav__item::after {
  content: '';
  bottom: -5px; /* Posiciona el cuadrado debajo del texto */
  left: 0;
  width: 100%;
  height: 3px;
  background-color: transparent; /* Color inicial del cuadrado */
  transition: background-color 0.3s ease; /* Transición suave del color */
}

.dropdown {
  position: absolute;
  left: 0%;
  width: 300%;
  height: 280%;
  background-color: #F5F7FF;
  z-index: -4;
  opacity: 0; /* Inicialmente oculto */
  transform: translateY(-10px); /* Para la animación de desplazamiento */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Transiciones suaves */
}

@media screen and (max-width: 1023px) {
  .dropdown{
  visibility: hidden;
}
.nav__item {
  display: inline-block;
  margin-right: 0px;
  position: relative; /* Para posicionar el cuadrado gris */
  padding-bottom: 20px;
  padding-top: 22px;
  transition: 1;

}
  .nav__link {
    text-decoration: none;
    padding: 5px 10px;
    display: block;
  }
  .nav__item:hover {
    color: #024BB2;

    background-color: #a8a8a8; /* Color de fondo al hacer hover */
  }
  
}


.nav__item:hover .dropdown {
  opacity: 1; /* Mostrar el menú desplegable */
  transform: translateY(0); /* Anima hacia abajo */
}

.dropdown a {
  color: #000 !important; /* Color del texto del menú desplegable (negro) */
  text-decoration: none;
  display: block;
  padding-top: 40px;
  text-align: left;
  padding-left: 11px;
  font-size: 13px;
}

.dropdown__item:hover {
  background-color: #f1f1f1;
}

.nav__item:hover::after {
  background-color: #b1acac00; /* Color del cuadrado al hacer hover */
  position: absolute;
  top: -100%;
  z-index: -3; /* Este valor hace que el círculo esté detrás */
}

/*=============== SEARCH ===============*/
.search__form {
  display: flex;
  align-items: center;
  column-gap: .5rem;
  background-color: var(--container-color);
  box-shadow: 0 8px 32px hsla(230, 75%, 15%, .2);
  padding-inline: 1rem;
  border-radius: .5rem;
  transform: translateY(-1rem);
  transition: transform .4s;
}

.search__icon {
  font-size: 1.25rem;
  color: var(--title-color);
}

.search__input {
  width: 100%;
  padding-block: 1rem;
  background-color: var(--container-color);
  color: var(--text-color);
}

.search__input::placeholder {
  color: var(--text-color);
}

/* Show search */
.show-search {
  opacity: 1;
  pointer-events: initial;
}

.show-search .search__form {
  transform: translateY(0);
}

/*=============== LOGIN ===============*/
.login__form, 
.login__group {
  display: grid;
}

.login__form {
  background-color: var(--container-color);
  margin-top: 100px;
  padding: 2rem 1.5rem 2.5rem;
  box-shadow: 0 8px 32px hsla(230, 75%, 15%, .2);
  border-radius: 1rem;
  row-gap: 1.25rem;
  text-align: center;
  transform: translateY(-1rem);
  transition: transform .4s;
}

.login__title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
}

.login__group {
  row-gap: 1rem;
}

.login__label {
  display: block;
  text-align: initial;
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-bottom: .25rem;
}

.login__input {
  width: 100%;
  background-color: var(--container-color);
  border: 2px solid var(--border-color);
  padding: 1rem;
  border-radius: .5rem;
  color: var(--text-color);
}

.login__input::placeholder {
  color: var(--text-color);
}

.login__signup {
  margin-bottom: .5rem;
}

.login__signup a {
  color: var(--first-color);
}

.login__forgot {
  display: inline-block;
  color: var(--first-color);
  margin-bottom: 1.25rem;
}

.login__button {
  display: inline-block;
  background-color: var(--first-color);
  width: 100%;
  color: #fff;
  font-weight: var(--font-semi-bold);
  padding: 1rem;
  border-radius: .5rem;
  cursor: pointer;
  transition: box-shadow .4s;
}

.login__button:hover {
  box-shadow: 0 4px 24px hsla(230, 75%, 40%, .4);
}

/* Show login */
.show-login {
  opacity: 1;
  pointer-events: initial;
}

.show-login .login__form {
  transform: translateY(0);
}

/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media screen and (min-width: 576px) {
  .search,
  .login {
    padding-top: 10rem;
  }

  .search__form {
    max-width: 450px;
    margin-inline: auto;
  }

  .search__close,
  .login__close {
    width: max-content;
    top: 5rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    font-size: 2rem;
  }

  .login__form {
    max-width: 400px;
    margin-inline: auto;
  }
  .main_content {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: space-around; /* Distribuye los elementos con espacio alrededor */
    align-items: center; /* Alinea los elementos verticalmente al centro */
    color: #fff;
    margin: 0 auto;

  }
}


.botonabajo {
  margin: 20px;
  padding: 10px 20px;
  font-size: 24px;
  cursor: pointer;
}





/* For large devices */
@media screen and (min-width: 1023px) {
  .nav {
    height: calc(var(--header-height) + 2rem);
    column-gap: 3rem;
  }
  .nav__close, 
  .nav__toggle {
    display: none;
  }
  .nav__menu {
    margin-left: auto;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 3rem;
  }

  .login__form {
    padding: 3rem 2rem 3.5rem;
  }

}

@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }
}



footer {
  background: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  flex-wrap: wrap;
  padding-left: 90px;
  font-size: 15px;
  padding-right: 90px;
}

.textofooter1 {
  color: white;
  flex: 1 1 100%;
  text-align: center;
  margin-bottom: 20px;
}

.textofooter2 {
  color: white;
  display: flex;
  gap: 20px;
  flex: 1 1 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 5px;
  white-space: nowrap;
}

.icon {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}

.icon:hover {
  color: #ddd;
}

@media (min-width: 600px) {
  .textofooter1 {
      flex: 1;
      text-align: left;
      margin-bottom: 0;
  }

  .textofooter2 {
      flex: 1;
      justify-content: flex-end;
  }
}

@media (min-width: 600px) {
  .textofooter1 {
      flex: 1;
      text-align: left;
      margin-bottom: 0;
  }

  .textofooter2 {
      flex: 1;
      justify-content: flex-end;
  }
}

.circulo {
  background-image: linear-gradient(to top, #49bff2, #8e2ad1);
  border-radius: 50%;
  top: 15%;
  left: -5%;
  width: 350px;
  height: 350px;
  position: absolute;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: -3;
}

.circulo-1 {
  background-image: linear-gradient(to top, #49bff2, #8e2ad1);
  border-radius: 50%;
  top: 50%;
  right:0%;
  width: 350px;
  height: 350px;
  position: absolute;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: -3;
}

.circulo-2 {
  background-image: linear-gradient(to left, #49bff2, #8e2ad1);
  border-radius: 50%;
  top: 80%;
  right:25%;
  width: 200px;
  height: 200px;
  position: absolute;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: -3;
}
.circulo-7 {
  background-image: linear-gradient(to left, #49bff2, #8e2ad1);
  border-radius: 50%;
  top: 115%;
  right:10%;
  width: 350px;
  height: 350px;
  position: absolute;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: -3;
}

.circulo2 {
  background-image: linear-gradient(to top, #49bff2, #8e2ad1);
  border-radius: 50%;
  right: 20%;
  top: 10%;
  width: 200px;
  height: 200px;
  position: absolute;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: -3;
}

.circulo2-1 {
  background-image: linear-gradient(to top, #49bff2, #8e2ad1);
  border-radius: 50%;
  left: 10%;
  top: 70%;
  width: 200px;
  height: 200px;
  position: absolute;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: -3;
}

.circulo3 {
  background-image: linear-gradient(to top, #49bff2, #8e2ad1);
  border-radius: 50%;
  left: 20%;
  top: 10%;
  width: 100px;
  height: 100px;
  position: absolute;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: -4;
}
.circulo4 {
  background-image: linear-gradient(to top, #49bff2, #8e2ad1);
  border-radius: 50%;
  top: 110%;
  left: 1%;
  width: 300px;
  height: 300px;
  position: absolute;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: -3;
}


.contenido1 {
  position: relative;
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 70%;
  top: -5%;
}

.bordesuperior {
  width: 100%;
  height: 19%;
  background-color: rgb(210, 210, 210);
  text-align: center;
  padding: 20px;
  padding-top: 28px;
  color: #1a1a1a;
  font-size: 160%;
  box-sizing: border-box;
  
}

.contenidoPrincipal {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.texto1 {
  width: 100%;
  color: #232323;
  font-size: 150%;
  text-align: justify;
  padding: 20px;
}

.imagen1 {
  width: 40%;
  text-align: center;
  margin-bottom: 20px;
  display: none;
}

.imagen1 img {
  width: 80%;
  height: auto;
}

@media (min-width: 768px) {
  .contenidoPrincipal {
    flex-direction: column;
    align-items: center;
  }

  .texto1, .imagen1 {
    width: 50%;
  }

  .texto1 {
    order: 1;
  }

  .imagen1 {
    order: 2;
  }
}






@media (min-width: 1024px) {



  .contenido1 {
    position: relative;
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 60%;
    align-items: center;
    justify-content: center;
  }
  
  .contenidoPrincipal {
    flex-direction: row;
    align-items: flex-start;
    align-items: center;
    justify-content: center;
    
  }


  .texto1 {
    width: 56%;
    margin-right: 5%;
    font-size: 170%;
    margin: 20px;
  }

  .imagen1 {
    padding-left: 70px;

    width: 50%; /* Ajusta el tamaño de la imagen según sea necesario */
    display: block; /* Asegura que la imagen se comporte como un bloque */
  
    
    visibility:visible;
  }

  .bordesuperior {
    padding-top: 40px;

    font-size: 200%;

  }
  .redondita{
    visibility: hidden;
  }
    .redondita2{
    visibility: hidden;
    
  }
}



.contenedor2 {
  color: rgb(48, 48, 48);
  width: 80%;
  height: 50%;
  display: flex;
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
  padding-left: 12%;
}

.rect {
  position: relative; /* Para posicionar correctamente los pseudoelementos */
  background-color: #e0e8ff;
  width: 50%; /* Ajusta el ancho según sea necesario */
  height: 100%; /* Mantiene el 100% de la altura del contenedor */
  margin: 20px;
  display: flex; /* Activa el modelo de caja flexible */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  text-align: center; /* Alinea el texto al centro */
  transition: 0.3s;
  padding-right: 7px !important;
  
}



.rect:hover {
  position: relative; /* Para posicionar correctamente los pseudoelementos */
  background-color: #ffffff;
  width: 50%; /* Ajusta el ancho según sea necesario */
  height: 100%; /* Mantiene el 100% de la altura del contenedor */
  margin: 20px;
  display: flex; /* Activa el modelo de caja flexible */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  text-align: center; /* Alinea el texto al centro */
  transition: transform 0.2s; /* Transición para el efecto de levantado */
  transform: translateY(-10px); /* Efecto de levantado al pasar el ratón */
  box-shadow: 0px 83px 102px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada al pasar el ratón */

}

.rect::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px; /* Ajusta esta propiedad para la separación entre rectángulos */
  width: 100%;
  height: 20%; /* Alto del rectángulo gris */
  background-color: lightgray; /* Color del rectángulo gris */
}




.textuno{
  font-size: 24px;
  position: absolute;
  top: 7%;


}
.textdos{
  font-size: 20px;
  position: absolute;
  top: 15%;
  text-align: justify;
  padding: 30px;
  padding-right: 35px;


}
.texttres{
  font-size: 20px;
  position: absolute;
  top: 90%;
  z-index: 3; /* Este valor hace que el círculo esté detrás */
  color: #232323;

}



.indicator {

  visibility: hidden;
}

.dot {

  visibility: hidden;

}


@media (max-width: 1024px) {

  .indicator {
    position: absolute;
    bottom: 140px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 5px;
    visibility: visible !important;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    background-color: lightgray;
    border-radius: 50%;
    visibility: visible !important;
  
  }


  .outer-container {
    width: 100%;
    height: 50%;
    overflow: hidden; /* Oculta el overflow del contenedor padre */
    position: relative; /* Necesario para el contenedor indicador */
}
  .contenedor2 {
    margin-left: 10px;
    width: 90%;
    height: 56%;
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    align-items: center;
    overflow-x: scroll; /* Habilita el desplazamiento horizontal */
    scroll-snap-type: x mandatory; /* Habilita el scroll snap */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .contenedor2::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

  .rect {
    background-color: white;
    width: 100%;
    height: 85%;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    scroll-snap-align: center; /* Se centra en el elemento durante el deslizamiento */
  }
  .rect:hover {
    background-color: white;
    width: 100%;
    height: 85%;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    transition: none;
    transform: none;
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 0)/* Sombra más pronunciada al pasar el ratón */
  }
  .textdos {
    font-size: 20px;
    position: relative; /* Use relative instead of absolute for better control */
    top: 0; /* Reset the top property */
    text-align: justify;
    padding: 15px; /* Adjust padding as necessary */
    width: 100%; /* Ensure it uses the full width of the parent container */
  }
}


.contacta {
  margin-top: 7%;
  height: 60%;
  top: 10%;
  width: 70%;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .titulocontacta{
    position: absolute;
    top: 15% !important;
  
    font-size: 25px !important;
    letter-spacing: 3px;
  }
}

@media (max-width: 1200px) {
  .titulocontacta{
    position: absolute;
    top: 15% !important;
  
    font-size: 25px !important;
    letter-spacing: 3px;
  }

}


@media (max-width: 480px) {
  .titulocontacta{
    position: absolute;
    top: 15% !important;
  
    font-size: 25px !important;
    letter-spacing: 3px;
  }
}


.titulocontacta{
  position: absolute;
  top: 15%;
  color: #272727;
  font-size: 32px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 3px;
}
.mita1 {
  width: 100% !important; /* Ajusta la anchura al 100% del contenedor padre */
  height: 110%; /* Ajusta la altura automáticamente */
  background-color: white;
  flex: 0 1 35%; /* Hace que .mita1 tenga una base del 35% pero sea flexible */
  padding: 30px;
  font-size: 19px;
  display: flex; /* Convertimos el contenedor en un contenedor flex */
  align-items: center;
  justify-content: center;
  text-align: justify;
  flex-direction: column;

}
.social-icons {
  margin-top: 430px;
}

.social-icons a {
  display: inline-block;
  margin: 0 10px;
  font-size: 24px;
  color: #333; /* Color de los íconos */
}

.textocontacta{
  position: absolute;
  top: 9%;
  font-size: 24px;

}

.textocontacta1{
  position: absolute;
  top: 25%;
  padding-left: 40px;
  padding-right: 40px;

}

.textocontacta2{
  position: absolute;
  top: 300px;
  left: 40px;

}

.textocontacta3{
  position: absolute;
  top: 350px;
  left: 40px;



}




.mita2 {
  width: 75%; /* Asegura que .mita2 ocupe el espacio restante */
  background-color: rgba(255, 255, 255, 0.322);
  flex: 1; /* Hace que .mita2 sea flexible para ocupar el espacio restante */
  
  display: flex; /* Convertimos el contenedor en un contenedor flex */
  align-items: center;
  justify-content: center;

}


.mita2 input{
  padding: 10px;
  height: 35px;
  width: 570px;
  font-size: 17px;
  margin: 10px;

}
.mita2 textarea[id="mensaje"] {
  height: 120px; /* Altura del textarea */
  padding: 10px; /* Relleno interior */
  width: 570px; /* Ancho del textarea */
  font-size: 17px; /* Tamaño de fuente */
  margin: 10px; /* Margen exterior */
  border: none; /* Sin borde */
  resize: none; /* Deshabilita la capacidad de redimensionar */
  outline: none; /* Elimina el contorno al hacer focus */
}



@media (max-width: 768px) {
  .mita2 input{
    padding: 10px;
    height: 30px;
    width: 250px;
    font-size: 14px;
    margin: 10px;
  
  }
  .mita2 textarea[id="mensaje"] {
    height: 70px; /* Altura del textarea */
    padding: 10px; /* Relleno interior */
    width: 250px; /* Ancho del textarea */
    font-size: 14px; /* Tamaño de fuente */
    margin: 10px; /* Margen exterior */

  }
  .mita2 button{
    margin-left: 60% !important;
    background-color: #5B89FF;
    height: 30px;
    font-size: 16px;
  
    width: 100px;
  }
  

}

@media (max-width: 480px) {
  .mita2 input{
    padding: 13px;
    height: 30px;
    width: 250px;
    font-size: 14px;
    margin: 10px;
  
  }
  .mita2 textarea[id="mensaje"] {
    height: 70px; /* Altura del textarea */
    padding: 13px; /* Relleno interior */
    width: 250px; /* Ancho del textarea */
    font-size: 14px; /* Tamaño de fuente */
    margin: 10px; /* Margen exterior */
  }
  .mita2 button{
    margin-left: 60% !important;
    background-color: #5B89FF;
    height: 30px;
    font-size: 16px;
  
    width: 100px;
  }
  

}



.mita2 button{
  margin-left: 81.5%;
  background-color: #5B89FF;
  height: 30px;
  font-size: 16px;

  width: 100px;
}





@media (max-width: 1200px) {
  .mita2 {
    width: 100%; /* Los hace ocupar el 100% del ancho del contenedor */
  }

  .mita1 {
    width: 50% !important; /* Mantiene el ancho menor en modo PC */
    height: auto; /* Ajusta la altura automáticamente */
  }

  .contacta {
    margin-top: 7%;
    height: 60%;
    top: 20%;
    width: 70%;
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

}

@media (max-width: 768px) {
  .contacta {
    flex-direction: column; /* Coloca los elementos uno debajo del otro */
  }

  .mita1, .mita2 {
    width: 100%; /* Ambos elementos ocupan el 100% del ancho */
  }


}

@media (max-width: 480px) {
  .contacta {
    margin-top: 5%;
    width: 90%;
  }


  .mita1 {
    visibility: hidden;
    display: none; /* Oculta .mita1 en pantallas muy pequeñas */
  }
}
.content {
  position: absolute;
  top: 10%;
  height: 50%;
  width: 100%; /* Ancho completo para ocupar la pantalla */
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: column; /* Alinea los elementos en columnas */
  justify-content: space-between; /* Distribuye los elementos uniformemente */
  padding: 0 10px; /* Añade un poco de espacio alrededor de los cuadrados */
}

.row {
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-wrap: wrap; /* Permite que los cuadrados se ajusten en varias líneas */
  justify-content: space-around; /* Distribuye los elementos horizontalmente */
}

.cuadradito {
  position: relative;
  height: 1000%; /* Este valor puede ser problemático, te sugiero usar un valor más realista */
  width: 25%; /* Ajusta el ancho de cada cuadro según tu preferencia */
  background-color: rgb(255, 255, 255);
  margin: 15px; /* Margen entre cada cuadro */
  display: flex; /* Convertimos el contenedor en un contenedor flex */
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  filter:hue-rotate(50px); /* Aumenta el contraste en un 150% */


}

.cuadradito:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.286); /* Sombra más pronunciada al pasar el ratón */
  filter:grayscale(0%); /* Aumenta el contraste en un 150% */
  
}

.cuadradito::after {
  content: ''; /* Necesario para que ::after muestre contenido */
  position: absolute;
  bottom: 0; /* Coloca el rectángulo gris debajo del cuadrado */
  left: 0;
  height: 50px; /* Altura del rectángulo gris */
  width: 100%; /* Ancho del rectángulo gris igual al cuadrado */
  background-color: rgb(187, 187, 187); /* Color gris */
}

.test {
  color: #292929;
  font-size: 20px;
  position: absolute;
  top: 88%;
  z-index: 2;
}

.test1 {
  color: #505050;
  font-size: 18px;
  position: absolute;
  top: 20%;
  z-index: 2;
  left: 10%;
  padding-right: 20px;

}

/* Media query para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
  .content {
    top: 10%; /* Ajusta la posición superior */
    height: 90%; /* Ajusta la altura para ocupar más espacio en pantallas pequeñas */
    overflow-y:scroll;
  }

  .row {
    flex-direction: column; /* Cambia la dirección a columnas en pantallas pequeñas */
    align-items: center; /* Centra los elementos en el eje X */
    padding-left: 0px;
    padding-right: 0px;
  }

  .cuadradito {
    width: 90%; /* Ancho casi completo en pantallas pequeñas */
    margin: 15px auto; /* Margen automático verticalmente */
    height: 300px; /* Ajusta la altura automáticamente según el contenido */
  }

  .cuadradito:hover {
    width: 95%; /* Ajuste al ancho completo al hacer hover */
  }

  .test1 {
    top: 5%; /* Ajusta la posición superior del texto */
    left: 0; /* Ajusta el alineamiento horizontal */
    width: 100%; /* Ocupa el ancho completo */
    text-align: center; /* Centra el texto */
  }
}

.cuadradito img{
  position: absolute;
  left: 30%;
  width: 150px !important;
  height: 150px !important;
}